*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: rgb(255, 255, 255);
}

button {
  width: 20rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 2em 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(255, 159, 28);
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

button:hover {
  background-color: #fff;
  border-color: rgb(255, 159, 28);
  transition: all 0.3s;
  color: rgb(255, 159, 28);
}

h1 {
  font-size: 8rem;
}
