@import url("https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Bitter", sans-serif;
  color: rgb(255, 255, 255);
}

ul {
  margin-top: 2rem;
  color: rgb(255, 255, 255);
}

.nav-link {
  font-size: 3rem;
  text-decoration: none;
  color: rgb(255, 159, 28);
  text-transform: uppercase;
}

.active {
  color: rgb(255, 255, 255);
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}
