@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Pacifico", sans-serif;
  color: rgb(255, 255, 255);
}

ul {
  margin-top: 4rem;
  color: rgb(255, 255, 255);
}

.nav:link {
  font-size: 3rem;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.nav:hover {
  color: orange;
}

.nav:active {
  color: rgb(255, 255, 255);
}
