*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  color: rgb(255, 255, 255);
  margin: 0 auto;
  width: 60rem;
  height: 50rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  margin-top: 20rem;
  border-radius: 8px;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
