*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  color: rgb(255, 255, 255);
  margin: 0 auto;
  width: 80rem;
  height: 50rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: #a2ecdd;
  box-shadow: 20px 20px 20px #8dcdc0, -20px -20px 20px #b7fffa;
  margin-top: 8rem;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
